body {
    text-align: center;
    font-family: 'Moderat-Black', sans-serif;
}

h1 {
    display: inline-flex;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}